<br />
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Contact Info </h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="Name">Phone Number</label>
                <div class="input-group">
                    <input type="text" id="Phone_Number" name="Phone.Number" ng-model="$ctrl.Phone.Number" class="form-control" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="$ctrl.add();" ng-disabled="$ctrl.disableAdd()">add</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-responsive table-hover table-striped" ng-model="$ctrl.phones" ng-required="true" name="Phones" id="Phones">
        <thead>
            <tr><th>Phone</th><th>#</th></tr>
        </thead>
        <tbody>
            <tr ng-repeat="phone in $ctrl.phones">
                <td>
                    {{phone.Number}}
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="$ctrl.remove(phone)">remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>